@import "tailwindcss";

/* Dark Mode Support
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  
  body {
    background-color: #1a1a1a;
    color: #f5f5f5;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  
  body {
    background-color: #ffffff;
    color: #000000;
  }
} */
